.quiz-wrapper {
    width: 25%;
    background-color: #979797;
    position: absolute;
}

button.answer {
    width: 23%;
    cursor: pointer;
}

p,
h5,
h3 {
    text-align: center;
}

#first-wrapper {
    z-index: 3;
    opacity: 1;
}

#second-wrapper {
    z-index: 2;
    opacity: 0;
}

#third-wrapper {
    z-index: 1;
    opacity: 0;
}

#score-wrapper {
    z-index: 0;
    opacity: 0;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}